{
    "extends": "stylelint-config-standard",
    "overrides": [
        {
            "files": [
                "*.less",
                "**/*.less"
            ],
            "customSyntax": "postcss-less"
        }
    ],
    "rules": {
        "indentation": 4,
        "no-missing-end-of-source-newline": null,
        "function-url-quotes": null,
        "import-notation": null
    }
}