:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #11191f;
    color: white;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.875em 0;
}
p,
h6 {
  font-size: var(--font-size);
}
h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
h5 {
  font-size: var(--h5-size);
}
p {
  word-spacing: 1px;
}
button {
  background-color: #ecf0f1;
  border: none;
  color: #3498db;
  border-radius: 4px;
  font-size: 16px;
  display: inline-flex;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  height: 40px;
  align-items: center;
  transition: 0.5s background-color;
  margin: 0 0.125em;
}
button:hover {
  background-color: #bdc3c7;
}
button.primary {
  background-color: #3498db;
  color: white;
}
button.primary:hover {
  background-color: #2980b9;
}
button.cyan {
  background-color: #1abc9c;
  color: white;
}
button.cyan:hover {
  background-color: #16a085;
}
button.success {
  background-color: #2ecc71;
  color: white;
}
button.success:hover {
  background-color: #27ae60;
}
button.error {
  background-color: #e74c3c;
  color: white;
}
button.error:hover {
  background-color: #c0392b;
}
blockquote {
  font-size: var(--font-size);
  border-left: 5px solid #bdc3c7;
  padding: 0.5em 1em;
  opacity: 0.8;
}
hgroup > *:last-child {
  opacity: 0.5;
  margin-top: 0.33em;
}
hgroup > *:first-child {
  margin-bottom: 0;
}
code,
pre {
  border-radius: 4px;
  font-family: Consolas, monospace;
}
code {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: #ecf0f1;
  font-size: var(--font-size);
  color: #7f8c8d;
}
pre code {
  background-color: black;
  color: #ecf0f1;
  width: fit-content;
  margin: 1em 0;
  padding: 1em;
  font-size: 1em;
}
kbd {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  font-size: var(--font-size);
  font-family: Consolas, monospace;
}
table {
  border-collapse: collapse;
  border: solid #ecf0f1;
}
table tr:nth-child(even) {
  background-color: rgba(245, 245, 245, 0.7);
}
table td,
table th {
  padding: 8px;
}
table th {
  text-align: start;
}
@media (prefers-color-scheme: dark) {
  table {
    background-color: #34495e;
    border-color: #34495e;
  }
  table tr:nth-child(even) {
    background-color: #2c3e50;
  }
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.container-lg {
  margin: 0 auto;
  max-width: 1200px;
}
.container-sm {
  margin: 0 auto;
  max-width: 768px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
:root {
  --size-lg: 17px;
  --size-md: 16.5px;
  --size-sm: 16px;
  --h1-size-lg: 32px;
  --h1-size-md: 28px;
  --h1-size-sm: 24px;
  --h2-size-lg: 22px;
  --h2-size-md: 20px;
  --h2-size-sm: 18px;
  --h3-size-lg: 21px;
  --h3-size-md: 19px;
  --h3-size-sm: 17px;
  --h4-size-lg: 18px;
  --h4-size-md: 17.5px;
  --h4-size-sm: 17px;
  --h5-size-lg: 18px;
  --h5-size-md: 17.5px;
  --h5-size-sm: 17px;
  --h6-size-lg: var(--size-lg);
  --h6-size-md: var(--size-md);
  --h6-size-sm: var(--size-sm);
  --font-size: var(--size-sm);
}
@media screen and (min-width: 768px) {
  :root {
    --font-size: var(--size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --font-size: var(--size-lg);
  }
}
:root p,
:root h6 {
  --font-size: var(--size-sm);
}
@media screen and (min-width: 768px) {
  :root p,
  :root h6 {
    --font-size: var(--size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root p,
  :root h6 {
    --font-size: var(--size-lg);
  }
}
:root h1 {
  --h1-size: var(--h1-size-sm);
}
@media screen and (min-width: 768px) {
  :root h1 {
    --h1-size: var(--h1-size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root h1 {
    --h1-size: var(--h1-size-lg);
  }
}
:root h2 {
  --h2-size: var(--h2-size-sm);
}
@media screen and (min-width: 768px) {
  :root h2 {
    --h2-size: var(--h2-size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root h2 {
    --h2-size: var(--h2-size-lg);
  }
}
:root h3 {
  --h3-size: var(--h3-size-sm);
}
@media screen and (min-width: 768px) {
  :root h3 {
    --h3-size: var(--h3-size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root h3 {
    --h3-size: var(--h3-size-lg);
  }
}
:root h4 {
  --h4-size: var(--h4-size-sm);
}
@media screen and (min-width: 768px) {
  :root h4 {
    --h4-size: var(--h4-size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root h4 {
    --h4-size: var(--h4-size-lg);
  }
}
:root h5 {
  --h5-size: var(--h5-size-sm);
}
@media screen and (min-width: 768px) {
  :root h5 {
    --h5-size: var(--h5-size-md);
  }
}
@media screen and (min-width: 1200px) {
  :root h5 {
    --h5-size: var(--h5-size-lg);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
mark {
  display: inline-block;
  background-color: #fff2ca;
  color: #543a26;
  padding: 2px;
}
a {
  color: #3498db;
  text-decoration: none;
}
a::after {
  content: "↗";
  left: 0;
  top: 0;
}
form {
  margin: 0.5em 0;
}
fieldset {
  border: none;
}
legend {
  font-size: var(--font-size);
  margin-left: 0.25em;
}
input {
  width: 100%;
  padding: 0.5em;
  margin: 1em 0.25em;
  border: none;
  outline: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 4px;
  caret-color: gray;
  font-size: 16px;
  display: block;
  font-family: 'Microsoft Yahei';
}
input:focus {
  outline: #3498db 2px solid;
}
input::placeholder {
  padding-left: 5px;
}
input.error {
  outline: 2px #e74c3c solid;
}
input.error::placeholder {
  color: #e74c3c;
}
input.success {
  outline: 2px #2ecc71 solid;
}
input.success::placeholder {
  color: #2ecc71;
}
@media (prefers-color-scheme: dark) {
  input {
    background-color: #34495e;
  }
}
label {
  margin-left: 0.25em;
  font-size: var(--font-size);
  display: inline-block;
}
label + input {
  margin-top: 0.5em;
}
select {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 1em 0.25em;
  border: none;
  outline: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 4px;
  caret-color: gray;
  font-size: 16px;
}
input[type="radio"] {
  display: inline;
  outline: none;
  width: 1em;
  height: 1em;
}
input[type="radio"] + label {
  display: inline;
  margin: 0;
}
input[type="radio"]::before {
  content: "";
  display: block;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid 0.1em #bdc3c7;
}
input[type="radio"]:checked:before {
  border: solid 0.25em #3498db;
  background-color: white;
}
input[type="checkbox"] {
  display: inline;
  outline: none;
  width: 1em;
  height: 1em;
  margin: 0.75em 0.25em;
  border-radius: 4px;
}
input[type="checkbox"] + label {
  display: inline;
  margin: 0;
}
input[type="checkbox"] + label {
  display: inline;
  margin: 0;
}
input[type="checkbox"]::before {
  content: "";
  display: block;
  left: 0;
  right: 0;
  width: 1em;
  height: 1em;
  border-radius: 4px;
}
input[type="checkbox"]:checked:before {
  background-color: #3498db;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}
input[type="file"] {
  filter: alpha(opacity=0);
}
.w-full {
  width: 100%;
}
.m-auto {
  margin: auto;
}
.notice {
  margin: 1em 0;
  padding: 0.75em 1em;
  width: 100%;
  background-color: #ecf0f1;
  border-top: 5px solid #3498db;
}
.notice.error {
  border-color: #e74c3c;
}
@media (prefers-color-scheme: dark) {
  .notice.error {
    border-color: #c0392b;
  }
}
.notice.success {
  border-color: #2ecc71;
}
@media (prefers-color-scheme: dark) {
  .notice.success {
    border-color: #27ae60;
  }
}
@media (prefers-color-scheme: dark) {
  .notice {
    border-color: #2980b9;
    background-color: #2c3e50;
  }
}
