a {
    color: var(--primary);
    text-decoration: none;
    background-color: inherit;
    padding: 0;
    font-size: var(--font-size);
}

a:hover {
    background-color: transparent;
}

a::after {
    content: "↗";
    left: 0;
    top: 0;
}

a.button {
    color: var(--primary);
    display: block;
    background-color: var(--light);
    width: fit-content;
    padding: 0.5em;
    border-radius: var(--radius);
    transition: background-color 0.25s;

    &::after {
        display: none;
    }

    &:hover {
        background-color: var(--light-deep);
    }
}