@import url(../colors.less);
@import url(../defines.less);

a {
    color: @primary;
    display: block;
    background-color: @light;
    width: fit-content;
    padding: 0.5em;
    border-radius: @radius;
    transition: background-color 0.25s;
}

a:hover {
    background-color: @light-deep;
}

li a,
p a {
    display: inline;
    color: @primary;
    text-decoration: none;
    background-color: inherit;
    padding: 0;
}


li a:hover,
p a:hover {
    background-color: transparent;
}

li a::after,
p a::after {
    content: "↗";
    left: 0;
    top: 0;
}