@size-lg: 19px;
@size-md: 18px;
@size-sm: 17px;

@h1-size-lg: 38px;
@h1-size-md: 36px;
@h1-size-sm: 34px;

@h2-size-lg: 33.25px;
@h2-size-md: 31.5px;
@h2-size-sm: 29px;

@h3-size-lg: 28.5px;
@h3-size-md: 27px;
@h3-size-sm: 25.5px;

@h4-size-lg: 23.75px;
@h4-size-md: 22.5px;
@h4-size-sm: 21.25px;

@h5-size-lg: 21.375px;
@h5-size-md: 20.25px;
@h5-size-sm: 19.125px;

@h6-size-lg: @size-lg;
@h6-size-md: @size-md;
@h6-size-sm: @size-sm;