.btn,
button {
    background-color: var(--fish-light);
    border: none;
    color: var(--fish-primary);
    border-radius: var(--radius);
    font-size: 16px;
    display: inline-flex;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    height: 40px;
    align-items: center;
    transition: 0.5s background-color;
    margin: 0;

    &:hover {
        background-color: var(--fish-light-deep);
    }
}

@media (prefers-color-scheme: dark) {
    .btn,
    button {
        background-color: var(--fish-dark);

        &:hover {
            background-color: var(--fish-black);
        }
    }
}

button [disabled] {
    opacity: 0.8;
}

.btn + .btn,
.btn + button,
button + .btn,
button + button {
    margin-left: 5px;
    margin-top: 5px;
}
