code,
pre {
    border-radius: var(--fish-radius);
    font-family: var(--fish-code-font);
}

code {
    display: inline-block;
    padding: 0.125em 0.5em;
    background-color: white;
    font-size: var(---fish-font-size-);
    color: var(--fish-code-color);
}

pre code {
    background-color: #050505;
    color: white;
    margin: 0;
    padding: 0.75em;
    font-size: 1em;
    width: 100%;
    overflow: auto;
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: var(--fish-dark);
    }
    pre code {
        background-color: #050505;
        color: white;
    }
}
