details {
    margin: 0.5em 0;
    background-color: var(--fish-white);
    padding: 1em;
    border-radius: var(--radius);
}

@media (prefers-color-scheme: dark) {
    details {
        background-color: var(--fish-dark);
    }
}
