@import url(../colors.less);
@import url(../defines.less);

details {
    margin: 0.5em 0;
    background-color: @white;
    padding: 1em;
    border-radius: @radius;
}

@media (prefers-color-scheme: dark) {
    details {
        background-color: @dark;
    }
}