kbd {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: var(--radius);
    font-size: var(--font-size);
    font-family: var(--code-font);
}