@import url(../defines.less);
@import url(../typography/font.less);

kbd {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: @radius;
    font-size: var(--font-size);
    font-family: @code-font;
}