@import url(../defines.less);
@import url(../typography/size.less);

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
}

p,
h6 {
    font-size: @size-sm;

    @media screen and (min-width: 768px) {
        font-size: @size-md;
    }

    @media screen and (min-width: 1200px) {
        font-size: @size-lg;
    }

}

h1 {
    font-size: @h1-size-sm;

    @media screen and (min-width: 768px) {
        font-size: @h1-size-md;
    }

    @media screen and (min-width: 1200px) {
        font-size: @h1-size-lg;
    }

}

h2 {
    font-size: @h2-size-sm;

    @media screen and (min-width: 768px) {
        font-size: @h2-size-md;
    }

    @media screen and (min-width: 1200px) {
        font-size: @h2-size-lg;
    }

}

h3 {
    font-size: @h3-size-sm;

    @media screen and (min-width: 768px) {
        font-size: @h3-size-md;
    }

    @media screen and (min-width: 1200px) {
        font-size: @h3-size-lg;
    }

}

h4 {
    font-size: @h4-size-sm;

    @media screen and (min-width: 768px) {
        font-size: @h4-size-md;
    }

    @media screen and (min-width: 1200px) {
        font-size: @h4-size-lg;
    }

}

h5 {
    font-size: @h5-size-sm;

    @media screen and (min-width: 768px) {
        font-size: @h5-size-md;
    }

    @media screen and (min-width: 1200px) {
        font-size: @h5-size-lg;
    }

}