body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
    background: var(--grey);
}

body *::-webkit-scrollbar-thumb {
  border-radius: 3px;
}
