body *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

body *::-webkit-scrollbar-track {
    border-radius: 3px;
    background: var(--light-deep);
}

body *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--grey);
}