@import url(../colors.less);

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: @light-deep;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: @grey;
}