hgroup * {
  &::after {
    display: none;
  }

  & h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    color: var(--font-color);
  }
}

hgroup > *:first-child {
  margin-top: 0;
  margin-bottom: 0;
  &::before {
    display: none;
  }
}

hgroup > *:last-child {
  opacity: 0.5;
  margin-top: 0.4em;
  font-size: var(--h3-size);
  &::before {
    display: none;
  }
}