select {
    padding: 0.25em 0.5em;
    font-size: var(--fish-font-size);

    &:focus {
        border-color: var(--fish-primary);
    }
}

label + select {
    margin-top: 0.25em;
}

@media (prefers-color-scheme: dark) {
    select {
        background-color: var(--fish-dark);
        color: var(--fish-font-color);
    }
}
