select {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin: 1em 0.25em;
    border: none;
    outline: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: @radius;
    caret-color: gray;
    font-size: 16px;
}