@import url(../colors.less);

.notice {
    margin: 1em 0;
    padding: 0.75em 1em;
    width: 100%;
    background-color: @light;
    border-top: 5px solid @primary;

    &.error {
        border-color: @red;

        @media (prefers-color-scheme: dark) {
            border-color: @red-deep;
        }
    }

    &.success {
        border-color: @green;

        @media (prefers-color-scheme: dark) {
            border-color: @green-deep;
        }
    }

    @media (prefers-color-scheme: dark) {
        border-color: @primary-deep;
        background-color: @dark-deep;
    }
}