:root {
    --fish-blue: #3498db;
    --fish-blue-deep: #2980b9;
    --fish-cyan: #1abc9c;
    --fish-cyan-deep: #16a085;
    --fish-green: #2ecc71;
    --fish-green-deep: #27ae60;
    --fish-dark: #303133;
    --fish-dark-deep: #1d1d1d;
    --fish-red: #e74c3c;
    --fish-red-deep: #c0392b;
    --fish-light: #e6e8eb;
    --fish-light-deep: #1d1e1f;
    --fish-grey: #95a5a6;
    --fish-grey-deep: #39393a;
    --fish-mark: #fff2ca;
    --fish-mark-text: #543a26;
    --fish-white: #f5f6fa;
    --fish-black: #050505;
    --fish-code-color: #f47466;
    --fish-primary: var(--fish-blue);
    --fish-primary-deep: var(--fish-blue-deep);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fish-primary: var(--fish-primary-deep);
        --fish-cyan: var(--fish-cyan-deep);
        --fish-green: var(--fish-green-deep);
        --fish-red: var(--fish-red-deep);
        --fish-grey: var(--fish-grey-deep);
        --fish-light: var(var(--fish-light-deep));
    }
}

* {
    &.blue {
        --fish-primary: var(--fish-blue);
        --fish-primary-deep: var(--fish-blue-deep);
    }
    &.cyan {
        --fish-primary: var(--fish-cyan);
        --fish-primary-deep: var(--fish-cyan-deep);
    }
    &.green {
        --fish-primary: var(--fish-green);
        --fish-primary-deep: var(--fish-green-deep);
    }
    &.red {
        --fish-primary: var(--fish-red);
        --fish-primary-deep: var(--fish-red-deep);
    }
}
