@import url(./typography/size.less);
@import url(./typography/font.less);

body {
    box-sizing: border-box;
    font-size: var(---fish-font-size-);
    font-family: var(--fish-base-font);
    letter-spacing: 0.125px;
    --font-color: black;
    color: var(--font-color);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1b1b1b;
        --font-color: #bbbbbb;
    }
}

body.dark {
    background-color: #1b1b1b;
    --font-color: #bbbbbb;
}
