@import url(./typography/size.less);

:root {
    box-sizing: border-box;
    font-size: var(--font-size);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #11191f;
        color: white;
    }
}