.container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    &-lg {
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 20px;
        padding-right: 20px;    
    }

    &-sm {
        margin: 0 auto;
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;    
    }
}