.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    &-lg {
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px;
    }

    &-sm {
        margin: 0 auto;
        max-width: 768px;
        padding: 20px;
    }
}